*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #202026;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
    height: 80px;
}

.conteudo{
    /* 100vh=uma "tela do site inteira", e o calc é para calcular o que vai ser tirado do valor maior(100vh) */
    height: calc(100vh - 80px);
    width: 100%;
    padding: 0 5%;
    display: flex;
}

.left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.left h1{
    font-size: 50px;
    color: #0597F2;
}
.left p{
    color: white;
    margin-bottom: 50px;
}
.left span{
    font-size: 30px;
    font-weight: 500;
    color:white;
}
.left a{
    text-decoration: none;
    color: white;
    background-color: #0597F2;
    /* fit content é para a largura se adaptar ao conteudo */
    width: fit-content;
    padding: 15px 15px;
    border-radius: 5px;
}

.right{
    width: 100%;
}
.right img{
    background-color: white;
}